
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,200);
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.drop {
  font-family: "Montserrat", sans-serif;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 200px);
  right: 0;
  /*&:hover
   * cursor: pointer
   * background: #f5f5f5 */
}
.drop .cont {
  /* width: 500px; */
  height: 170px;
  color: #8E99A5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.drop .cont i {
  font-size: 5vw;
  color: #8E99A5;
  position: relative;
}
.drop .cont .tit {
  font-size: 5vw;
  text-transform: uppercase;
}

.drop .cont .desc {
  color: #A4AEBB;
}
.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}
.drop input {

  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  /* left: 0; */
  bottom: 0;
  right: 0;
  width:100%;
}

#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}
#list .thumb {
  height: 75px;
  border: 1px solid #323a44;
  margin: 10px 5px 0 0;
}

.card{
  font-family: "Montserrat", sans-serif;
  color:white;
  padding: 20px;
  outline: none;
  background-color:rgb(0, 128, 255);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  /* display:none; */

}
.card-header{
  font-weight: 200;
}