<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>

            </ul>
        </nav>
        <div id='reloadbutton' class="row" style="display: flex; justify-content: center;" onclick="location.reload();">
            <a download target="_blank" class="btn btn-sq-lg btn-primary">
              <i class="fa fa-file-text"></i><br/>
              Scan New Files
            </a>
        </div>

    </div>
</footer>

<script type="text/javascript">
    $('#reloadbutton').hide()
</script>
