<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/static/assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>$APPNAME by $TEAMNAME</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
     <script src="/static/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<link href="/static/assets/css/table.css" rel="stylesheet"/>
</head>
<body>

<div class="wrapper">
    {% include 'side-nav.html' %}
    <div class="main-panel">
        {% include 'navbar.html' %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
<table border="1">
<tr>
<th>
constituents</th>
<th>
name</th>
<th>
form</th>
<th>
schedule</th>
<th>
standardUnits</th>
<th>
price</th>
<th>
packageForm</th>
<th>
manufacturer</th>
<th>
size</th>
</tr>
<tr>
<td>
<table border="1">
<tr>
<th>
strength</th>
<th>
name</th>
</tr>
<tr>
<td>
na</td>
<td>
Paracetamol</td>
</tr>
</table>
</td>
<td>
CROCIN LOOSE</td>
<td>
Tablet</td>
<td>
<table border="1">
<tr>
<th>
category</th>
<td>
OTC</td>
</tr>
<tr>
<th>
label</th>
<td>
It can be sold without a prescription</td>
</tr>
</table>
</td>
<td>
1000</td>
<td>
210.0</td>
<td>
Strip</td>
<td>
Glaxo SmithKline Pharmaceuticals Ltd</td>
<td>
1000  Tablet</td>
</tr>
<tr>
<td>
<table border="1">
<tr>
<th>
strength</th>
<th>
name</th>
</tr>
<tr>
<td>
125 mg</td>
<td>
Paracetamol</td>
</tr>
</table>
</td>
<td>
CROCIN 125 MG SUSPENSION</td>
<td>
ML of suspension</td>
<td>
<table border="1">
<tr>
<th>
category</th>
<td>
OTC</td>
</tr>
<tr>
<th>
label</th>
<td>
It can be sold without a prescription</td>
</tr>
</table>
</td>
<td>
1</td>
<td>
37.77</td>
<td>
bottle</td>
<td>
Glaxo SmithKline Pharmaceuticals Ltd</td>
<td>
60 ML suspension</td>
</tr>
<tr>
<td>
<table border="1">
<tr>
<th>
strength</th>
<th>
name</th>
</tr>
<tr>
<td>
650 mg</td>
<td>
Paracetamol</td>
</tr>
</table>
</td>
<td>
CROCIN 650 MG TABLET</td>
<td>
tablet</td>
<td>
<table border="1">
<tr>
<th>
category</th>
<td>
OTC</td>
</tr>
<tr>
<th>
label</th>
<td>
It can be sold without a prescription</td>
</tr>
</table>
</td>
<td>
15</td>
<td>
26.93</td>
<td>
strip</td>
<td>
Glaxo SmithKline Pharmaceuticals Ltd</td>
<td>
15 tablets</td>
</tr>
<tr>
<td>
<table border="1">
<tr>
<th>
strength</th>
<th>
name</th>
</tr>
<tr>
<td>
500 mg</td>
<td>
Paracetamol</td>
</tr>
</table>
</td>
<td>
CROCIN 500MG TABLET</td>
<td>
Tablet</td>
<td>
<table border="1">
<tr>
<th>
category</th>
<td>
OTC</td>
</tr>
<tr>
<th>
label</th>
<td>
It can be sold without a prescription</td>
</tr>
</table>
</td>
<td>
15</td>
<td>
15.72</td>
<td>
Strip</td>
<td>
Glaxo SmithKline Pharmaceuticals Ltd</td>
<td>
15  Tablet</td>
</tr>
<tr>
<td>
<table border="1">
<tr>
<th>
strength</th>
<th>
name</th>
</tr>
<tr>
<td>
100mg/1ml</td>
<td>
Paracetamol</td>
</tr>
</table>
</td>
<td>
CROCIN 100MG DROP</td>
<td>
ML of drop</td>
<td>
<table border="1">
<tr>
<th>
category</th>
<td>
OTC</td>
</tr>
<tr>
<th>
label</th>
<td>
It can be sold without a prescription</td>
</tr>
</table>
</td>
<td>
1</td>
<td>
32.27</td>
<td>
packet</td>
<td>
Glaxo SmithKline Pharmaceuticals Ltd</td>
<td>
15 ML drop</td>
</tr>
<tr>
<td>
<table border="1">
<tr>
<th>
strength</th>
<th>
name</th>
</tr>
<tr>
<td>
1000 mg</td>
<td>
Paracetamol</td>
</tr>
</table>
</td>
<td>
CROCIN 1000MG TABLET</td>
<td>
Tablet</td>
<td>
<table border="1">
<tr>
<th>
category</th>
<td>
OTC</td>
</tr>
<tr>
<th>
label</th>
<td>
It can be sold without a prescription</td>
</tr>
</table>
</td>
<td>
10</td>
<td>
22.5</td>
<td>
Strip</td>
<td>
Glaxo SmithKline Pharmaceuticals Ltd</td>
<td>
10  Tablet</td>
</tr>
<tr>
<td>
<table border="1">
<tr>
<th>
strength</th>
<th>
name</th>
</tr>
<tr>
<td>
150 mg</td>
<td>
Paracetamol</td>
</tr>
</table>
</td>
<td>
CROCIN 150MG DROPS</td>
<td>
Drop</td>
<td>
<table border="1">
<tr>
<th>
category</th>
<td>
OTC</td>
</tr>
<tr>
<th>
label</th>
<td>
It can be sold without a prescription</td>
</tr>
</table>
</td>
<td>
1</td>
<td>
32.27</td>
<td>
Packet</td>
<td>
Glaxo SmithKline Pharmaceuticals Ltd</td>
<td>
15 ml Drop</td>
</tr>
<tr>
<td>
<table border="1">
<tr>
<th>
strength</th>
<th>
name</th>
</tr>
<tr>
<td>
240mg/5ml</td>
<td>
Paracetamol</td>
</tr>
</table>
</td>
<td>
CROCIN DS SUSPENSION</td>
<td>
ML of suspension</td>
<td>
<table border="1">
<tr>
<th>
category</th>
<td>
OTC</td>
</tr>
<tr>
<th>
label</th>
<td>
It can be sold without a prescription</td>
</tr>
</table>
</td>
<td>
1</td>
<td>
45.0</td>
<td>
bottle</td>
<td>
Glaxo SmithKline Pharmaceuticals Ltd</td>
<td>
60 ML suspension</td>
</tr>
<tr>
<td>
<table border="1">
<tr>
<th>
strength</th>
<th>
name</th>
</tr>
<tr>
<td>
50 mg</td>
<td>
Caffeine</td>
</tr>
<tr>
<td>
650 mg</td>
<td>
Paracetamol</td>
</tr>
</table>
</td>
<td>
CROCIN PAIN RELIEF TABLET</td>
<td>
tablet</td>
<td>
<table border="1">
<tr>
<th>
category</th>
<td>
OTC</td>
</tr>
<tr>
<th>
label</th>
<td>
It can be sold without a prescription</td>
</tr>
</table>
</td>
<td>
15</td>
<td>
49.39</td>
<td>
strip</td>
<td>
Glaxo SmithKline Pharmaceuticals Ltd</td>
<td>
15 tablets</td>
</tr>
<tr>
<td>
<table border="1">
<tr>
<th>
strength</th>
<th>
name</th>
</tr>
<tr>
<td>
NA</td>
<td>
Paracetamol</td>
</tr>
<tr>
<td>
NA</td>
<td>
Caffeine</td>
</tr>
<tr>
<td>
NA</td>
<td>
Phenylephrine</td>
</tr>
</table>
</td>
<td>
CROCIN COLD N FLU TABLET</td>
<td>
Tablet</td>
<td>
<table border="1">
<tr>
<th>
category</th>
<td>
OTC</td>
</tr>
<tr>
<th>
label</th>
<td>
It can be sold without a prescription</td>
</tr>
</table>
</td>
<td>
10</td>
<td>
33.5</td>
<td>
Strip</td>
<td>
Glaxo SmithKline Pharmaceuticals Ltd</td>
<td>
10  Tablet</td>
</tr>
</table>

                                    <br><br>
                                    <a href="/insights" class="button">Search again</a>
                                
                </div>
            </div>
        </div>

        {% include 'footer.html' %}


    </div>
</div>


</body>

    <!--   Core JS Files   -->

	<script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="/static/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/static/assets/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/static/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/demo.js"></script>


</html>
